.rowLabels2
{
    background-color: rgb(168, 209, 209);
    width:300px;
    margin-top: 15px;
    position:sticky;
    z-index: 0;
    left:0;
}
.colLabels2
{
  background-color: rgb(168, 209, 209);
  width:max-content;
  margin-left: 165px;
  position: sticky;
  height: auto;
  top:0;
  z-index: 3;
  text-orientation: mixed;
}
.rows2{
    display: block;
    font-size: 10px;
    margin-top: 10px;
    background-color:rgb(255, 128, 128);
    border: 1px solid rgb(82, 91, 18);
    margin-bottom: 20px;
    color:rgb(86, 93, 30);
    width:150px;
    font-weight: bold;
    height:15px;
    overflow: hidden;
    transition: width 0.3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.rows2:hover
{
  width: max-content;
  background-color: rgb(216, 63, 49);
  color: azure;
}
.cols2{
    display: inline;
    color:rgb(86, 93, 30);
    border: 1px solid rgb(86, 93, 30);
    font-size: 10px;
    width:15px;
    height:150px;
    overflow: hidden;
    font-weight: bold;
    margin-left:20px;
    margin-top: 65px;
    background-color:rgb(255, 128, 128);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cols2:hover
{
  height:auto;
  background-color: rgb(216, 63, 49);
  color: azure;
}
.flex
{
    display: flex;
}
.preopdata2{
  background-color: rgb(222, 228, 173);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color:green;
  margin-bottom:-15px ;
    position:fixed;
    width:155px;
    font-weight: bold;
    border: 2px solid green;
    z-index:2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  }
  .otfporunbiased{
    background-color: rgb(222, 228, 173);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid green;
    width:70px;
    height:165px;
    color:green;
    font-weight: bold;
    position:fixed;
    margin-top:55px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left:-80px;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  }
  .gapFill2
  {
    background-color:rgb(255, 207, 150);
  height:220px;
  width:85px;
  z-index:4;
  position: fixed;
  }
.grid-container2 {
    display: grid;
    grid-template-columns: repeat(110,35px);
    grid-template-rows: repeat(70,35px);
    padding: 10px;
    margin-top:40px;
    margin-left:15px;
    justify-content: center;
  }
  .grid-item2 {
    background-color: rgb(254, 255, 172) ;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    text-align: center;
  }
  .grid-item2:hover{
    background-color: chartreuse;
    
  }
  
  .downloadButton2
{
    margin-left: 150px;
    margin-top: 20px;
}